@model Lab1_MVC_PorllesC.Models.ClsPersona
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostarDatos</title>
</head>
<body>
    <div>
        <h1>Datos de la Persona</h1>
        <br /><br />
        <label>Apellidos: </label>@Model.apellido<br />
        <label>Nombres: </label>@Model.nombre<br />
        <label>Edad: </label>@Model.edad<br />
        <label>Peso: </label>@Model.peso<br />
        <label>Sexo: </label>@Model.sexo<br />
    </div>
</body>
</html>
